# FUNCTIONS

    # Reusability 
    # Code manageble and organised 
    # Types -> User defined , Built in

**DEFINIG FUNCTION**

In [1]:
def greet():
    print("Hello")

In [2]:
# Calling a function 
greet()

Hello

**DOCSTRINGS**

In [3]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [4]:
greet?

Signature: greet()
Docstring: <no docstring>
File:      c:\users\akshw\appdata\local\temp\ipykernel_229460\1811393548.py
Type:      function

In [5]:
# adding docstring 
def greet():

    """
    This function greets everyone when it is called 
    """
    print("Hello")

In [6]:
greet?

Signature: greet()
Docstring: This function greets everyone when it is called
File:      c:\users\akshw\appdata\local\temp\ipykernel_229460\1304503906.py
Type:      function

**PARAMETERS AND ARGUMENTS**

    # Parameters->  Place holder in a function 
    # Argument -> When defining we call as parameters 
               -> When passing actual value we call it arguments

In [7]:
def name (name):  # PARAMETER 
    print("My name is "+name)

In [8]:
name ( "TONY STARK") # ARGUMENT

My name is TONY STARK

**RETURN**

    # Funtion call ends when return statemnt is executed 
    # Code after return statement are not executed 
    # If no return value it returns None

In [9]:
def add (a, b):
    c = a+b 
    print(c) 

print(type(add(2,3)))

5
<class 'NoneType'>

In [10]:
def add (a, b):
    c = a+b 
    return c
print(type(add(3,4)))

<class 'int'>

In [11]:
def func():
    return 
print(type(func()))

<class 'NoneType'>

In [12]:
def func():
    print("Before return")
    return "Rahul"
    print("After return ")

In [13]:
func()

Before return

'Rahul'

**RETURN MULTIPLE VALUES**

In [3]:
def intro(name , age , hobby):
    return name , age , hobby

In [4]:
a , b = 2 ,3 
print(a,b)

2 3

In [5]:
c , d ,e = intro('name',25,'travel')

In [6]:
print(c,d,e)

name 25 travel

In [7]:
result = intro("tony",25,"travel")

In [8]:
result

('tony', 25, 'travel')

**SCOPE OF VARIABLE**

    # Global and local 
    # Local -> Locally in the program 
    # Global -> Anywhere in the program

In [14]:
a = 5 
def func():
    x = 30 
    print(x)

print(a)
func()

5
30

In [15]:
a = 5 

def func():
    x = 3 
    print(x)

func()
print(a)
print(x) # Local scope

3
5

NameError: name 'x' is not defined

In [16]:
a = 5 

def func():
    a = 20 
    print(a)

func()
print(a)

20
5

In [21]:
a = 5 

def func():
    global a
    a = 20 
    print(a)

print(a)
func()
print(a)

5
20
20

**LAMBDA FUNCTION**

    # We need a nameless function for a short period of time

In [1]:
def add (a,b):
    return a+b

In [2]:
add(2,3)

5

In [6]:
(lambda a, b :  a+b)(3,4)

7

In [7]:
func = lambda a , b : a+b
func(2,4)

6

In [8]:
type(func)

function

In [9]:
def large(a,b):
    if a > b : 
        return a 
    else : 
        return b

In [10]:
large(2,3)

3

In [16]:
func1 = lambda a , b : a if a > b else b

In [17]:
func1(3,4)

4

In [18]:
lst = [(12,56),(2,4),(5,3)]

lst.sort()

In [19]:
lst

[(2, 4), (5, 3), (12, 56)]

In [20]:
def k(x):
    return x[1]
lst.sort(key = k)

In [21]:
lst

[(5, 3), (2, 4), (12, 56)]

In [23]:
lst.sort(key = lambda x : x[1])

In [24]:
lst

[(5, 3), (2, 4), (12, 56)]

In [28]:
# PRINT EVEN NUMBERS 

lst = [1,2,3,4,5,6,7,8]

def even(lst):
    for i in lst :
        if i % 2 == 0 :
            print(i)
even(lst)

2
4
6
8

In [29]:
# RETURN LIST WITH UNIQUE NUMBERS 


lst = [1,2,3,4,5,6,1,5,3,7,8]

def unique(lst):
    new = []
    for i in lst : 
        if i not in new : 
            new.append(i)
    return new 
unique(lst)

[1, 2, 3, 4, 5, 6, 7, 8]

**ARGUMENT VS PARAMETERS**

    # Parameters : Values which we pass while defining the function 
    # Argument : Actual  value which we  pass wwhen calling a function

In [33]:
def func(name): # parameter 
    print("Hey my name is ",name)
    
# argument 
func("akshwin")

Hey my name is  akshwin

**POSITIONAL ARGUMENT**

    # Value you pass when calling a function are matched according to their position

In [37]:
def intro(name , hobby):
    print("Hey my name is :",name)
    print("Hey my hobby is :",hobby)

In [38]:
intro("Rahul","Cycling")

Hey my name is : Rahul
Hey my hobby is : Cycling

**DEFAULT ARGUMENTS**

    # Provide default values to parameters
    # This is optional

In [39]:
def intro(name , hobby = "None"):
    print("Hey my name is :",name)
    print("Hey my hobby is :",hobby)

In [40]:
intro("akshwin")

Hey my name is : akshwin
Hey my hobby is : None

In [41]:
intro("akshwin","Harry potter")

Hey my name is : akshwin
Hey my hobby is : Harry potter

**DEFAULT FOLLOWS NON DEFAULT**

In [42]:
def intro(name , hobby = "None"): # default should be at the end 
    print("Hey my name is :",name)
    print("Hey my hobby is :",hobby)

**ARBITRARY ARGUMENTS**

    # When number of values is not defined 
    # Values are stored in tuple

In [44]:
def test(*args):
    print(args)

In [45]:
test(1)

(1,)

In [46]:
test(1,2,3,4,5)

(1, 2, 3, 4, 5)

**KEYWORD ARGUMENT**

    # Varible number of key word argumentd 
    # It is stored in dictionary format

In [61]:
def intro(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [62]:
intro(name = "Rahul",age = 25)

{'name': 'Rahul', 'age': 25}
<class 'dict'>

In [67]:
def intro(**kwargs):
    for key , values in kwargs.items():
        print(key , values)

In [68]:
intro(name = "Rahul",age = 25,hobbies = ['swim','read'])

name Rahul
age 25
hobbies ['swim', 'read']

In [69]:
def mix(a,b,c,age = 25,*args,**kwargs):
    print(a,b,c,age,args,kwargs)

In [70]:
mix(1,2,3,)

1 2 3 25 () {}

In [72]:
mix(1,2,3,9,3,name = 'ak')

1 2 3 9 (3,) {'name': 'ak'}

In [ ]:
## NOTE 
# Kwargs comes after args only